<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
{{!-- main.handlebars should present in view/layout while other page are present directly in view with handlebars extension --}}
    {{{body}}}

</body>
</html>